body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

.hidden {
    display: none;
}

#login-container, #main-container, #config-container, #profile-container {
    padding: 20px;
    border: 2px solid #0ff;
    width: 350px;
    margin: auto;
    background: #222;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0 0 15px #0ff;
}

button {
    margin: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgb(0, 255, 150);
    color: black;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: rgb(0, 200, 120);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
}

.error-msg {
    background: white;
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.theme-text {
    transition: color 0.3s;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid cyan;
}

thead {
    text-align-last: auto;
}
